
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12" >
    <div class="row">
        <div class="col-md-12 mt-2">
            <div class="container">
                <div class="jumbotron">
                    <h1 class="text-center">PERDE</h1>

                </div>
                <div class="col-md-12">
                    <div class="container ">
                        <div class="ml-2 row my-auto">
                            <div class="seat-mr-1">
                               <h2 class="number">1</h2>
                            </div>
                            <div class="seat-mr-1">
                               <h2 class="number">2</h2>
                            </div>
                            <div class="seat-mr-1">
                               <h2 class="number">3</h2>
                            </div>
                            <div class="seat-mr-1">
                               <h2 class="number">4</h2>
                            </div>
                            <div class="seat-mr-1">
                               <h2 class="number">5</h2>
                            </div>
                            <div class="seat-mr-1">
                               <h2 class="number">1</h2>
                            </div>
                            <div class="seat-mr-1">
                               <h2 class="number">1</h2>
                            </div>
                            <div class="seat-mr-1">
                               <h2 class="number">1</h2>
                            </div>
                            <div class="seat-mr-1">
                               <h2 class="number">1</h2>
                            </div>
                            <div class="seat-mr-1">
                               <h2 class="number">1</h2>
                            </div>
                            <div class="seat-mr-1">
                               <h2 class="number">1</h2>
                            </div>
                            <div class="seat-mr-1">
                               <h2 class="number">1</h2>
                            </div>
                            <div class="seat-mr-1">
                               <h2 class="number">1</h2>
                            </div>
                            <div class="seat-mr-1">
                               <h2 class="number">1</h2>
                            </div>
                            <div class="seat-mr-1">
                               <h2 class="number">1</h2>
                            </div>
                            <div class="seat-mr-1">
                               <h2 class="number">1</h2>
                            </div>
                            <div class="seat-mr-1">
                               <h2 class="number">1</h2>
                            </div>
                            <div class="seat-mr-1">
                               <h2 class="number">1</h2>
                            </div>
                            <div class="seat-mr-1">
                               <h2 class="number">1</h2>
                            </div>
                            <div class="seat-mr-1">
                               <h2 class="number">1</h2>
                            </div>
                            <div class="seat-mr-1">
                               <h2 class="number">1</h2>
                            </div>
                            <div class="seat-mr-1">
                               <h2 class="number">1</h2>
                            </div>




                        </div>
                        
                    </div>
                </div>
                <div class="col-md-6 mt-4 mx-auto" >
                    <div class="row">

                        <div class="seat-mr-1">
                           <h2 class="number">1</h2>
                        </div>
                        <div class="seat-mr-1">
                           <h2 class="number">1</h2>
                        </div>
                        <div class="seat-mr-1">
                           <h2 class="number">1</h2>
                        </div>
                        <div class="seat-mr-1">
                           <h2 class="number">1</h2>
                        </div>
                        <div class="seat-mr-1">
                           <h2 class="number">1</h2>
                        </div>

                    </div>
                  
                </div> 
                <hr /> 
                <div class="İnformation"
                     <div class="row">
                         <div class="col-md-4 mx-auto information-card">
                             <div class="seat-empty">

                             </div>
                             <span class="mt-2">Boş</span>
                             <div class="seat-full">

                             </div>
                             <span class="mt-2">Dolu</span>


                         </div>


                     </div>

                   
                </div>

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4 row">
                        <div class="seat-mr-1">
                           <h2 class="number">1</h2>
                        </div>
                        <div class="seat-mr-1">
                           <h2 class="number">1</h2>
                        </div>
                        <div class="seat-mr-1">
                           <h2 class="number">1</h2>
                        </div>
                   </div>

                </div>



                    </div>
                
                </div>  
                 
                <div class="row">
                    <div class="col-md-4 row text-right">
                        <div class="seat-mr-1">
                           <h2 class="number">1</h2>
                        </div>
                        <div class="seat-mr-1">
                           <h2 class="number">1</h2>
                        </div>
                        <div class="seat-mr-1">
                           <h2 class="number">1</h2>
                        </div>
                   </div>

                </div>
            </div>                       
        </div>
    </div>
@section scripts{ 

<script>
    $(function () {

        $(".number").click(function () {

            var valule = $(this).val());
        console.log(value);

        }
    )}
    

</script>
}


